	 <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            
            <!-- ここの行を編集　文字の色を設定 -->
            <small class="d-block mb-3 text-muted">© 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            
            <!-- この行を編集 リストの点を消す -->
            <ul class="list-unstyled">
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Random feature</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Team feature</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Another one</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
            
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            
            <!-- この行を編集 リストの点を消す -->
            <ul class="list-unstyled">
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Resource</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Resource name</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Another resource</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
            
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            
            <!-- この行を編集 リストの点を消す -->
            <ul class="list-unstyled">
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Team</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Locations</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Privacy</a></li>
              
              <!-- この行を編集　文字の色を設定 -->
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
            
          </div>
        </div>
      </footer>
  <div class="container">
    <div class="text-center">
      <p>
        Copyright © Instagram_App
      </p>
    </div>
  </div>



