// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pricing-header {
  max-width: 700px;
}

.container {
  max-width: 960px;
}

.card-deck .card {
  min-width: 220px;
}